{% extends "base.html" %}
{% block content %}
<!--TODO: Display the user's name in the h1 title-->
<div class="container">
  <h1 class="title">Welcome, {{ name }}!</h1>
  <!--TODO: Make a GET request to the /download path-->
  <a href="{{ url_for('download', name='cheat_sheet.pdf') }}">Download Your File</a>
  <!--MESSAGE FLASHING STUFF-->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p style="color: green; font-weight: bold;">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
{% endblock %}
